@font-face {
  font-family: 'Prototypster';
  src: url('../fonts/Prototypster/Medium/prototypster-medium-webfont.eot');
  src:
          url('../fonts/Prototypster/Medium/prototypster-medium-webfont.woff') format('woff'),
          url('../fonts/Prototypster/Medium/prototypster-medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Prototypster/Medium/prototypster-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
