.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
  padding: 4px;
  padding-bottom: 14px;
  border: 3px solid #fff;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .25);
  font-size: 13px;
  color: inherit;
  transition: border-color .3s ease;
  height: 100%;

  &:hover {
    border-color: $color-orange;
    box-shadow: 0px -1px 0px 0px transparentize($color-orange, .75);
    color: inherit;
    text-decoration: none;
  }

  &:hover:before {
    content: '';
    position: absolute;
  }

  &:hover .catalog-item__process {
    display: none;
  }

  &:hover .catalog-item__add {
    display: block;
  }

  .grid.grid--layout-complete &:hover .catalog-item__info--additional {
    display: block;
  }
}

.catalog-item--in-store:before {
  content: '';
  position: absolute;
  top: -3px;
  right: 9px;
  display: block;
  width: 35px;
  height: 55px;
  background-image: url('../res/img/in-store.png');
  background-repeat: no-repeat;
}



  .catalog-item__img-container {

  }

    .catalog-item__img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

  .catalog-item__info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 7px;
  }

    .catalog-item__title {
      margin-top: .375em;
      font-family: 'Prototypster', sans-serif;
      font-size: 24px;
      font-weight: 500;
      color: $color-black;
      letter-spacing: .01em;
    }

    .catalog-item__status {
      margin-top: -.1em;
      margin-bottom: 1.2em;
    }

    .catalog-item__info {

    }

    .catalog-item__info--additional {
      margin-bottom: 5px;
    }

    .grid.grid--layout-complete .catalog-item__info--additional {
      display: none;
    }

      .catalog-info__item {
        margin-bottom: 0.15em;
      }

    .catalog-item__action {
      margin-top: auto;
      font-family: 'Prototypster', sans-serif;
      font-size: 24px;
    }

      .catalog-item__process {
        display: block;
        color: $color-gray;
      }

      .catalog-item__add {
        display: none;
        color: $color-orange;
        text-decoration: underline;
      }


@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
  .grid-item {
    width: 100%;
  }
}