section
    .container-fluid
        .row
            .footer-container
                .container
                    .row
                        .col-md-6
                            form
                                .footer
                                    .footer__item
                                        .footer__item__left
                                            label.footer__label ваш email:
                                        .footer__item__right
                                            input.footer__email(type='email' required name='email')
                                    .footer__item
                                        .footer__item__left
                                        .footer__item__right
                                            .checkbox
                                                input.checkbox__input(type='checkbox' id='subscribe' name='subscribe')
                                                .checkbox__custom
                                                    .checkbox__custom__box
                                                    .checkbox__custom__accept
                                                label.checkbox__label(for='subscribe') ПОДПИСАТЬСЯ НА НОВОСТИ
                                    .footer__item
                                        .footer__item__left
                                        .footer__item__right
                                            button.footer__button(type='submit') зарегистрироваться
