doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block page_title
            title Заголовок

        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="css/index.css")
    body

        .wrapper
            section
                include header

            block content

        include footer

        script(src='js/main.js')