extends ./template/base/layout

block page_title
  title Главная

block content
  .container
    .row
      .col-xs-12
        include ./template/components/catalog/sort
      include ./template/components/catalog/items
      .col-xs-12
        a.test(href='#') НАВЕРХ