mixin _item(i, count)
    .col-md-4.col-sm-6.grid-item
        a(href='#' class=(i === 2) ? 'catalog-item--in-store' : '').catalog-item
            .catalog-item__img-container
                img(src='res/img/catalog-item.jpg').catalog-item__img
            .catalog-item__info-container
                .catalog-item__title НАЗВАНИЕ ЗАКАЗА
                .catalog-item__status Статус:&nbsp;
                    span.catalog-item-status-value
                        if (i % 2)
                            | в печати
                        else
                            | отправлен
                .catalog-item__info
                    .catalog-info__item Загружен:&nbsp;
                        span.catalog-item-date-value 1#{count - i}.04.15
                    .catalog-info__item Фотополимер покрашенный
                    .catalog-info__item Количество экземпляров: 1
                    if (i % 2)
                        .catalog-info__item Фотополимер покрашенный
                        .catalog-info__item Количество экземпляров: 1
                    else
                        .catalog-info__item Количество экземпляров: 1

                .catalog-item__info.catalog-item__info--additional
                    .catalog-info__item Цвет: черный
                    .catalog-info__item Размер: 160 х 70
                    if (i % 2)
                        .catalog-info__item Цвет: черный
                        .catalog-info__item Размер: 160 х 70
                    else
                        .catalog-info__item Размер: 160 х 70
                .catalog-item__action
                    .catalog-item__process ВЫПОЛНЕН НА 60%
                    .catalog-item__add + ДОБАВИТЬ В МАГАЗИН