.footer-container {
  position: relative;
  background-image: url('../res/img/footer-bg.png');
  background-repeat: repeat;
}

.footer-container:before {
  content: '';
  position: absolute;
  top: -2px;
  height: 2px;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAACCAQAAAAkqu5lAAAAMUlEQVQI1wXBgQ0AIAgDsJl4DyBEjVfuRE6ZLSaAiOLtp+xNC2AAh9lHLtNSqhSydn5IJxGc6XKmeAAAAABJRU5ErkJggg==);
  background-size: 11px 2px;
  background-repeat: repeat-x;
}

  .footer {
    display: table;
    margin-left: 10px;
    padding: 38px 0;
    font-family: 'Prototypster', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
  }

    .footer__item {
      display: table-row;
    }

    .footer__item__left,
    .footer__item__right {
      display: table-cell;
      padding-top: 10px;
      padding-bottom: 10px;
    }

        .footer__label {
          margin-right: 18px;
          white-space: nowrap;
        }

        .footer__email {
          height: 36px;
          width: 100%;
          padding: 4px 13px;
          border: none;
          border-radius: 4px;
          font-size: 18px;
          color: #000;
          text-transform: uppercase;
        }

        .footer__button {
          padding: 0;
          background: none;
          border: none;
          font-size: 28px;
          color: $color-orange;
          text-transform: uppercase;
          text-decoration: underline;
        }

        .footer__button:active,
        .footer__button:focus {
          outline: none;
        }

@media (max-width: $screen-md-min) {
  .footer {
    display: flex;
    flex-direction: column;
  }

    .footer__item {
      display: flex;
      flex-direction: column;
    }

    .footer__item__left {
      display: block;
      padding: 0;
    }
}