$header-img-width: 290px;
$header-img-height: 97px;

.header-container {
  display: flex;
  justify-content: center;
  margin-top: 51px;
  margin-bottom: 6px;
}

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $header-img-width;
    height: $header-img-height;
    margin-right: 9px;
  }

    .header__img {
      position: absolute;
      top:0;
      left:0;
      width: $header-img-width;
      height: $header-img-height;
      background-image: url('../res/img/header-img.png');
      background-repeat: no-repeat;
    }

    .header__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-left: 5px;
      margin-top: 3px;
      font-family: 'Prototypster', sans-serif;
      font-size: 48px;
      color: $color-black;
      letter-spacing: .01em;
      white-space: nowrap;
    }